# Dependencies
**/node_modules/

# Build files
**/dist/

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# User uploaded files
backend/uploads/

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store